@import url(minireset.min.css);
* {
  font-family: 'Open Sans', 'sans-serif'; }

body {
  background-image: url("../img/bg.png");
  background-repeat: repeat; }

.avatars-row {
  display: flex;
  flex-direction: row; }

.avatars-container {
  display: flex;
  flex-direction: column; }

#modal {
  opacity: 0;
  background-image: url("../img/slider-bg.png");
  background-size: cover;
  position: fixed;
  top: 0;
  z-index: -999;
  height: 100%;
  width: 100%;
  transform: scaleX(1) scaleY(1) scaleZ(1);
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  transition: opacity 200ms, transform 200ms; }
  #modal.open {
    opacity: 1;
    z-index: 999; }
  #modal .close-button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer; }

.swiper-container {
  align-items: center;
  height: 375px;
  margin-top: 30%; }
  .swiper-container p {
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
    color: white; }
  .swiper-container .navigation {
    width: 42px;
    height: 71px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    cursor: pointer; }
  .swiper-container .arrow-prev {
    left: 50px; }
  .swiper-container .arrow-next {
    right: 50px; }
  .swiper-container .swiper-slide {
    display: flex; }
  .swiper-container .text-wrapper {
    justify-content: center;
    display: inline-block;
    margin: 0 auto;
    padding: 80px 50px;
    border: 4px dashed #92c4ce; }
  .swiper-container .position {
    font-size: 60px;
    font-weight: 300; }
  .swiper-container .name {
    font-size: 72px;
    font-weight: 600; }

.header {
  font-weight: 600;
  color: #452e76;
  font-size: 60px;
  text-align: center;
  margin: 75px 0; }

.avatars-row {
  width: 80vw;
  justify-content: space-between;
  margin: 0 auto 60px; }

.avatar {
  position: relative;
  width: 180px; }
  .avatar p {
    text-align: center; }
  .avatar .photo {
    width: 180px;
    height: 180px;
    position: relative;
    border: none;
    cursor: pointer; }
  .avatar .photo-1 {
    background-image: url("../img/avatar-1.png"); }
  .avatar .name {
    color: #452e76;
    margin: 5px 0; }
  .avatar .position {
    font-size: 14px;
    font-weight: 300;
    color: #42c3de;
    line-height: 1.7; }
  .avatar .location {
    font-size: 14px;
    font-weight: 300;
    color: #808080; }

.mail-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0; }
  .mail-icon svg {
    width: 100%;
    height: 100%; }
  .mail-icon circle {
    fill: #452e76; }
  .mail-icon .envelope-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
